# `crontab` path
# WSL(Linux): /var/spool/cron/${USER}
# Mac: /var/at/tabs/${USER}

0 0 * * * /usr/bin/curl -sf https://raw.githubusercontent.com/shimajima-eiji/Settings_Environment/main/for_Mac/update_mac_summary.sh | /bin/sh -s
0 0 * * * /usr/bin/curl -sf https://raw.githubusercontent.com/shimajima-eiji/Settings_Environment/main/for_github/everyday_contribute.sh | /bin/sh -s README git@github.com:shimajima-eiji/README.git
