<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" version="21.7" />
  <package id="anaconda3" version="2021.11" />
  <package id="autohotkey.portable" version="1.1.33.10" />
  <package id="avastfreeantivirus" version="21.6.6446.0" />
  <package id="brave" version="1.34.80" />
  <package id="ccleaner" version="5.88.9346" />
  <package id="chocolatey-core.extension" version="1.3.5.1" />
  <package id="chocolatey-misc-helpers.extension" version="0.0.4" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.4" />
  <package id="crystaldiskinfo" version="8.14.2" />
  <package id="crystaldiskinfo.portable" version="8.14.2" />
  <package id="crystaldiskmark" version="8.0.4" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="DotNet4.6.1" version="4.6.01055.20170308" />
  <package id="dropbox" version="139.4.4896" />
  <package id="edgedeflector" version="1.1.3.0" />
  <package id="Firefox" version="96.0.1" />
  <package id="git.install" version="2.34.1" />
  <package id="GoogleJapaneseInput" version="1.3.24.20141007" />
  <package id="imageresizerapp" version="3.1.2" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="kotlinc" version="1.5.20" />
  <package id="obs-studio" version="27.1.3" />
  <package id="obs-studio.install" version="27.1.3" />
  <package id="onedrive" version="21.230.1107.0004" />
  <package id="openjdk" version="17.0.1" />
  <package id="rlogin" version="2.26.1" />
  <package id="rpgtkoolvx-rtp" version="202.0" />
  <package id="rpgtkoolvxace-rtp" version="100.0" />
  <package id="steam" version="3.0.1.20200226" />
  <package id="steam-client" version="2.10.91.91" />
  <package id="tablacus" version="22.1.16" />
  <package id="teamviewer" version="15.25.8" />
  <package id="tortoisegit" version="2.12.0.0" />
  <package id="vcredist140" version="14.30.30708" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vcredist2017" version="14.16.27033" />
  <package id="vcxsrv" version="1.20.14.0" />
  <package id="vivaldi.portable" version="3.6.2165.40" />
  <package id="vscode" version="1.63.2" />
  <package id="vscode.install" version="1.63.2" />
  <package id="wincdemu" version="4.1.0.20171221" />
  <package id="winscp.install" version="5.19.5" />
  <package id="xmind" version="8.9" />
</packages>